.Rproj.user
.Rhistory
.RData
.Ruserdata
All_Abstracts-11-18-24/savedrecs(1).txt
All_Abstracts-11-18-24/savedrecs(2).txt
All_Abstracts-11-18-24/savedrecs(3).txt
All_Abstracts-11-18-24/savedrecs(4).txt
All_Abstracts-11-18-24/savedrecs(5).txt
All_Abstracts-11-18-24/savedrecs(6).txt
All_Abstracts-11-18-24/savedrecs(7).txt
All_Abstracts-11-18-24/savedrecs.txt
All_Abstracts-11-18-24/scopus.csv
gbif_backbone
dataset
valid_species_lookup.rds
taxa_info_results_label_loose.csv
/Results/label_loose
taxa_info_results_label_loose.csv
/Archive
PCA_correct.png
*.png
/data
/models/bloom_filters
/models
*.docx
/Publication/New Phytologist
/results/datasets
/results/species
