.Rproj.user
.Rhistory
.RData
.Ruserdata
All_Abstracts-11-18-24/savedrecs(1).txt
All_Abstracts-11-18-24/savedrecs(2).txt
All_Abstracts-11-18-24/savedrecs(3).txt
All_Abstracts-11-18-24/savedrecs(4).txt
All_Abstracts-11-18-24/savedrecs(5).txt
All_Abstracts-11-18-24/savedrecs(6).txt
All_Abstracts-11-18-24/savedrecs(7).txt
All_Abstracts-11-18-24/savedrecs.txt
All_Abstracts-11-18-24/scopus.csv
gbif_backbone
dataset