.Rproj.user
.Rhistory
.RData
.Ruserdata
All_Abstracts-11-18-24/savedrecs(1).txt
All_Abstracts-11-18-24/savedrecs(2).txt
All_Abstracts-11-18-24/savedrecs(3).txt
All_Abstracts-11-18-24/savedrecs(4).txt
All_Abstracts-11-18-24/savedrecs(5).txt
All_Abstracts-11-18-24/savedrecs(6).txt
All_Abstracts-11-18-24/savedrecs(7).txt
All_Abstracts-11-18-24/savedrecs.txt
All_Abstracts-11-18-24/scopus.csv
gbif_backbone
dataset
Results
valid_species_lookup.rds
taxa_info_results_label_loose.csv
/Results/label_loose
Results/label_loose/families_missing_present_label_loose.png
Results/label_loose/families_missing_present_prop_label_loose.png
Results/label_loose/families_missing_present_label_loose.png
Results/label_loose/families_missing_present_label_loose.png
Results/label_loose/families_missing_present_prop_label_loose.png
Results/label_loose/fung_norm_species_counts_label_loose.png
Results/label_loose/fung_raw_species_counts_label_loose.png
Results/label_loose/missing_plant_families_label_loose.csv
Results/label_loose/plant_families_coverage_label_loose.csv
Results/label_loose/plant_norm_species_counts_label_loose.png
Results/label_loose/plant_parts_bottom_label_loose.png
Results/label_loose/plant_parts_label_loose.png
Results/label_loose/plant_raw_species_counts_label_loose.png
Results/label_loose/tracheo_missing_plant_families_label_loose.csv
taxa_info_results_label_loose.csv
/Results
/Archive
PCA_correct.png
*.png
